/* Mengatur warna latar belakang halaman menjadi #fff2d8 */
body {
    background-color: #fff2d8;
  }
  
  /* Mengatur warna teks menjadi #113946 */
  h1, span {
    color: #113946;
  }
  
  /* Mengatur warna latar belakang dan teks tombol boba menjadi #ead7bb dan #113946 */
  #boba {
    background-color: #ead7bb;
    color: #113946;
  }
  
  /* Mengatur warna latar belakang dan teks tombol oreo menjadi #bca37f dan #113946 */
  #oreo {
    background-color: #bca37f;
    color: #113946;
  }
  
  /* Mengatur warna latar belakang dan teks tombol reset menjadi #113946 dan #fff2d8 */
  #reset {
    background-color: #113946;
    color: #fff2d8;
  }
  

/* Media query untuk layar yang lebarnya kurang dari atau sama dengan 600px */
@media (max-width: 600px) {
    /* Mengatur lebar tombol menjadi 100% dari lebar kontainer */
    button {
      width: 100%;
    }
  
    /* Mengatur margin bawah tombol menjadi 10px */
    button {
      margin-bottom: 10px;
    }
  
    /* Menghilangkan margin kanan tombol */
    button {
      margin-right: 0;
    }
  }
  